.k-product-tabs__add-to-cart {
  height: 70px;
}

.k-product-tabs__title {
  display: block;
  font-size: 30px;
  font-weight: 700;
}

.k-product-tabs__btn-all-services {
  max-width: 560px;
}

@include media-breakpoint-up(lg) {
  .k-product-tabs__add-to-cart {
    width: 100%;
    max-width: 260px;
  }
}

@include media-breakpoint-up(xl) {
  .k-product-tabs__btn-all {
    width: 100%;
    max-width: 840px;
  }

  .k-product-tabs__title {
    font-size: 40px;
  }
}

@include media-breakpoint-up(xxl) {
  .k-product-tabs__add-to-cart {
    max-width: 560px;
  }
}
