.k-director-section {
  position: relative;
  overflow: hidden;
  background-image: img-url("index/director/bg_mobile.jpg");

  &::before {
    position: absolute;
    left: calc(50% - 164px);
    bottom: 0;
    z-index: 1;
    width: 328px;
    height: 380px;
    background: no-repeat img-url("index/director/director.png") center / cover;
    content: "";
    pointer-events: none;
  }

  &.k-section {
    padding-bottom: 300px;
  }

  & .k-section__bg-content {
    max-width: 660px;
    padding-bottom: 90px !important;
  }
}

.k-director-section__title {
  font-size: 2.5rem;
}

.k-director-section__subtitle {
  font-size: 1.15rem;
  font-weight: 500;
}

.k-director-section__num {
  width: 52px;
  height: 52px;
  font-size: 2rem;
}

@include media-breakpoint-up(xl) {
  .k-director-section {
    background-image: img-url("index/director/bg.jpg");
    &::before {
      left: calc(50% + 140px);
      width: 520px;
      height: 590px;
    }

    & .k-section__bg-content {
      margin: 0 auto 0 0 !important;
      padding-bottom: 3rem !important;
    }

    &.k-section {
      padding-bottom: 40px !important;
    }
  }
}

@include media-breakpoint-up(xxl) {
  .k-director-section {
    &.k-section {
      padding-bottom: 120px !important;
    }

    &::before {
      left: calc(50% - 30px);
      width: 726px;
      height: 830px;
    }

    & .k-section__bg-content {
      margin: 0 auto !important;
      transform: translateX(-200px);
    }

    & .k-text {
      padding-right: 80px;
    }

    & .k-section__btn {
      max-width: 440px;
    }
  }
}
