.k-projects-section {
  & .container {
    position: relative;

    &::before {
      position: absolute;
      bottom: 0;
      left: 15px;
      width: 290px;
      height: 245px;
      background: no-repeat img-url("index/projects/device.png") top center / cover;
      content: "";
    }
  }

  & .k-section__title {
    max-width: none;
    margin-bottom: 2.5rem;
  }
}

.k-projects-section--bg {
  background-image: img-url("index/projects/bg_mobile.jpg");
}

.k-projects-section__content {
  padding-bottom: 175px;
}

.k-projects-section__company {
  width: calc(50% - 0.5rem);
  height: 90px;
  margin-bottom: 1rem;

  & img {
    max-width: 100%;
    max-height: 100%;
  }
}

@include media-breakpoint-up(xs) {
  .k-projects-section {
    & .container {
      &::before {
        left: 15px;
        width: 345px;
        height: 292px;
      }
    }
  }

  .k-projects-section__content {
    padding-bottom: 210px;
  }
}

@include media-breakpoint-up(sm) {
  .k-projects-section__content {
    padding-bottom: 195px;
  }
}

@include media-breakpoint-up(md) {
  .k-projects-section {
    & .container {
      &::before {
        display: none;
      }
    }
  }

  .k-projects-section--bg {
    background-image: img-url("index/projects/bg.jpg");
  }

  .k-projects-section__content {
    padding-bottom: 0;
  }

  .k-projects-section__company {
    width: calc(33.33% - 0.75rem);
    margin-bottom: 1.5rem;
  }
}

@include media-breakpoint-up(xl) {
  .k-projects-section {
    & .container {
      &::before {
        display: block;
        bottom: 1.5rem;
        width: 440px;
        height: 372px;
      }
    }

    & .k-section__title {
      max-width: 750px;
    }
  }

  .k-projects-section__items {
    max-width: 650px;
    margin-left: auto;
  }
}

@include media-breakpoint-up(xxl) {
  .k-projects-section {
    & .container {
      &::before {
        bottom: -30px;
        width: 877px;
        height: 743px;
      }
    }

    & .k-section__title {
      max-width: none;
      margin-bottom: 3.325rem;
    }
  }

  .k-projects-section__content {
    max-width: 860px;
    margin-left: auto;
  }

  .k-projects-section__items {
    max-width: none;
  }

  .k-projects-section__company {
    height: 140px;
  }
}
